{#<ul class="characteristic">#}
    {#<li>{{ hero.characteristics.armor }}</li>#}
    {#<li>{{ hero.characteristics.chance }}#}
    {#<li>{{ hero.characteristics.strength }}#}
    {#<li class="polygone"></li>#}
    {#<li>{{ hero.characteristics.life }}</li>#}
    {#<li>#}
        {#{% if app.user %}#}
            {#<div id="save-game">#}
                {#<a href="#" class="save-game btn btn-success">Enregistrer la partie</a>#}
            {#</div>#}
        {#{%  endif %}#}
    {#</li>#}
{#</ul>#}

<div id="content_statistique" class="mx-auto">
    <div class="content_statistique_main">
        <div class="row">
            <div class="col-2 content_statistique_main_bar content_statistique_main_bar_a scroll_top ">
                <span class="number_stats">{{ hero.characteristics.strength }}</span>
                <div class="logo_statistique">
                    <img src="{{ asset('bundles/app/images/habi.svg') }}" alt="logoSVG">
                </div>
            </div>
            <div class="col content_statistique_main_bar content_statistique_main_bar_b scroll_top_center ">
                <span class="number_stats">{{ hero.characteristics.life }}</span>
                <div class="logo_statistique">
                    <img src="{{ asset('bundles/app/images/pulse-line.svg') }}" alt="logoSVG">
                </div>
            </div>
            <div class="col-3 content_statistique_main_bar content_statistique_main_bar_c scroll_top_super_center">
                <div class="hexsagon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="52" height="60" viewbox="0 0 51.96152422706631 60">
                        <path fill="#fff" d="M25.980762113533157 0L51.96152422706631 15L51.96152422706631 45L25.980762113533157 60L0 45L0 15Z"></path>
                        <img src="{{ asset('bundles/app/images/logo.no.texte.svg') }}" alt="logoSVG">
                    </svg>
                </div>
            </div>
            <div class="col content_statistique_main_bar content_statistique_main_bar_d scroll_top_center ">
                <span class="number_stats">{{ hero.characteristics.armor }}</span>
                <div class="logo_statistique">
                    <img src="{{ asset('bundles/app/images/shield.svg') }}" alt="logoSVG">
                </div>
            </div>
            <div class="col-2 content_statistique_main_bar content_statistique_main_bar_e scroll_top ">
                <span class="number_stats">{{ hero.characteristics.chance }}</span>
                <div class="logo_statistique">
                    <img src="{{ asset('bundles/app/images/clover.svg') }}" alt="logoSVG">
                </div>
            </div>
        </div>
    </div>
</div>
