{#<p> Inventaire Equipement : </p>#}
{#<ul >#}
    {#{%  for objects in inventories.equipmentInvetory.objects %}#}
        {#{%  for object in objects %}#}
            {#<li>{{ object.name }} x{{ object.getLifePoint() }}#}
                {#<p> {{ object.description }}</p>#}
            {#</li>#}
        {#{%  endfor %}#}
    {#{%  endfor %}#}
{#</ul>#}
{#<p> Inventaire Object : </p>#}
{#<ul >#}
    {#{%  for objects in inventories.objectInvetory.objects %}#}
        {#{%  for object in objects %}#}
            {#{% if loop.index == 1 %}#}
            {#<li>#}
                {#{{ object.name }} x{{ objects|length }}#}
                {#<p> {{ object.description }}</p>#}
            {#</li>#}
    {#{% endif %}#}
        {#{%  endfor %}#}
    {#{%  endfor %}#}
{#</ul>#}
{#<p> Inventaire Pillules :#}
{#</p>#}
{#<ul >#}
    {#{%  for objects in inventories.potionInvetory.objects %}#}
        {#{%  for object in objects %}#}
            {#{% if loop.index == 1 %}#}
            {#<li>#}
                {#{{ object.name }} x{{ object.getLifePoint() }}#}
            {#</li>#}
    {#{% endif %}#}
        {#{%  endfor %}#}
    {#{%  endfor %}#}
{#</ul>#}



<div id="content_inventory" class="mx-auto">
    <div class="row content_inventory_top">
        <div class="col">
            <div class="button_inventory_objects scroll_right">
                <div class="" onclick="displayInventory('inventory_weapons', 'inventory_objects')">

                </div>
            </div>
        </div>
        {#<div class="col">#}
            {#<div id="content_buttom_next_action" class="mx-auto">#}
                {#<button type="button" class="btn btn-outline-secondary">Continuer</button>#}
            {#</div>#}
        {#</div>#}
        <div class="col">
            <div class="button_inventory_weapon scroll_left">
                <div class="" onclick="displayInventory('inventory_objects', 'inventory_weapons')">

                </div>
            </div>
        </div>
    </div>
    <div class="row content_inventory_bottom">
        <div class="col-1"></div>
        <div class="col">
            <div class="row main_block_item " id="inventory_objects">

                {%  for objects in inventories.equipmentInvetory.objects %}
                    {%  for object in objects %}
                        {% if loop.index == 1 %}
                            <div class="col block_item">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="77" height="88" viewbox="0 0 76.2102355330306 88">
                                    <path fill="#fff" d="M38.1051177665153 0L76.2102355330306 22L76.2102355330306 66L38.1051177665153 88L0 66L0 22Z">
                                        <img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">
                                        <p>
                                            {{ object.name }} x{{ objects|length }}
                                        </p>
                                        {#<p> {{ object.description }}</p>#}

                                    </path>
                                </svg>
                            </div>
                        {% endif %}
                    {%  endfor %}
                {%  endfor %}


            </div>

            <div class="row main_block_item" id="inventory_weapons">


                {%  for objects in inventories.objectInvetory.objects %}
                    {%  for object in objects %}
                        {% if loop.index == 1 %}

                            <div class="col block_item">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="77" height="88" viewbox="0 0 76.2102355330306 88">
                                    <path fill="#fff" d="M38.1051177665153 0L76.2102355330306 22L76.2102355330306 66L38.1051177665153 88L0 66L0 22Z">
                                        <img src="{{ asset('bundles/app/images/swords.svg') }}" class="contentImgSvg" alt="logoSVG">
                                        <p>  {{ object.name }} x{{ objects|length }}</p>
                                    </path>
                                </svg>
                            </div>
                        {% endif %}
                    {%  endfor %}
                {%  endfor %}

                {%  for objects in inventories.potionInvetory.objects %}
                    {%  for object in objects %}
                        {% if loop.index == 1 %}

                            <div class="col block_item">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="77" height="88" viewbox="0 0 76.2102355330306 88">
                                    <path fill="#fff" d="M38.1051177665153 0L76.2102355330306 22L76.2102355330306 66L38.1051177665153 88L0 66L0 22Z">
                                        <img src="{{ asset('bundles/app/images/swords.svg') }}" class="contentImgSvg" alt="logoSVG">
                                        <p>  {{ object.name }} x{{ object.lifePoint }}</p>
                                        <a href="#"  data-id="{{ object.id }}" class="use-pils">Utiliser la pilule</a>
                                    </path>
                                </svg>
                            </div>
                        {% endif %}
                    {%  endfor %}
                {%  endfor %}
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>


<script>
    function displayInventory(open, closed){
        if (document.getElementById(open).style.display == 'flex') {
            document.getElementById(open).style.display = 'none';
            return;
        }
        document.getElementById(closed).style.display = 'none';
        document.getElementById(open).style.display = 'flex';
    }
</script>