<p> Inventaire Equipement : </p>
<ul >
    {%  for objects in inventories.equipmentInvetory.objects %}
        {%  for object in objects %}
            {%  if  object.unique  %}
                <li>{{ object.name }} x{{ object.getLifePoint() }}
                    <a data-id="{{  object.id }}" data-type="arm" class="delete-choice" ><span class="fa fa-minus-circle"></span></a>

                </li>
            {%  else %}
                    {%  if object.getLifePoint() > 0 %}
                            <li>{{ object.name }} x{{ object.getLifePoint() }}
                                <a data-id="{{  object.id }}" data-type="arm" class="delete-choice" ><span class="fa fa-minus-circle"></span></a>
                            </li>
                    {% endif %}
            {%  endif %}
        {%  endfor %}

    {%  endfor %}
</ul>
<p> Inventaire Object : </p>
<ul >
    {%  for objects in inventories.objectInvetory.objects %}
        {%  for object in objects %}
            {% if loop.index == 1 %}
            <li>
                {{ object.name }} x{{ objects|length }}
                <a data-id="{{  object.id }}" data-type="object"  class="delete-choice" ><span class="fa fa-minus-circle"></span></a>
            </li>
    {% endif %}
        {%  endfor %}
    {%  endfor %}
</ul>


