

{% extends 'AdminBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>History modification   {{ form_start(delete_form) }}
        <input class="btn btn-danger pull-right" type="submit" value="Delete">
        {{ form_end(delete_form) }}
    </h1>

    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-body">
                    {{ form_start(edit_form, {attr : { class: "form-group"}}) }}
                    <div class="form-group">
                        <label>Titre de l'histoire</label>
                        {{ form_widget(edit_form.title, {attr : { class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        {{ form_widget(edit_form.description, {attr : { class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <a href="{{ path('history_index') }}" class="btn btn-warning  ">Back to the list</a>

                        <input type="submit" value="Modification" class="btn btn-success  "/>

                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

