
{% extends 'AdminBundle:Default:layout.html.twig' %}

{% block content %}
    <h1 class="page-title" >Vos histoires
        <a class="btn btn-success pull-right" href="{{ path('history_new') }}">Ajouter une histoire</a>

    </h1>
    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for history in histories %}
                            <tr>
                                <td>{{ history.title }}</td>
                                <td>
                                    <a  class="btn btn-info" href="{{ path('history_show', { 'id': history.id }) }}" title="Voir l'histoire"><span class="fa fa-eye"></span></a>
                                    <a title="Modifier l'histoire" class="btn btn-warning" href="{{ path('history_edit', { 'id': history.id }) }}"><span class="fa fa-pencil"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
