

{% extends 'AdminBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>History creation</h1>

    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-body">
                    {{ form_start(form, {attr : { class: "form-group"}}) }}
                    <div class="form-group">
                        <label>Titre de l'histoire</label>
                        {{ form_widget(form.title, {attr : { class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        {{ form_widget(form.description, {attr : { class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <a href="{{ path('history_index') }}" class="btn btn-warning  ">Back to the list</a>

                        <input type="submit" value="Create" class="btn btn-success  "/>

                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
