{% extends 'AdminBundle:Default:layout.html.twig' %}

{% block content %}
    <h1 class="page-title">History  {{ history.title }} </h1>
    <p>
        <a class="btn btn-warning" href="{{ path('history_index') }}">Back to the list</a>
        <a class="btn btn-success"  href="{{ path('history_edit', { 'id': history.id }) }}">Edit</a>

    </p>
    <div class="row">
        <div class="col-md-12">

            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-body">
                    <p>Liste des pages

                        <a class="btn btn-success"  href="{{ path('admin_page_new', { 'slug': history.slug }) }}">Nouvelle page</a>

                    </p>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for page in history.pages %}
                            <tr>
                                <td>{{ page.title }}</td>
                                <td>
                                    <a  class="btn btn-info" href="{{ path('page_homepage', { 'slug': page.slug }) }}" title="Voir la page"><span class="fa fa-eye"></span></a>
                                    <a title="Modifier la page" class="btn btn-warning" href="{{ path('admin_page_edit', { 'slug': history.slug ,'id_page': page.id }) }}"><span class="fa fa-pencil"></span></a>
                                    {% if not page.fightPage %}
                                        <a  title="Choix de la page"  class="btn btn-default" href="{{ path('admin_page_choice', { 'slug': history.slug, 'id_page': page.id }) }}"><span class="lnr lnr-map"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
