    {% if fight.fightType.id == 2 %}
        <p>
            Armes disponibles :
            {%  for arm in fight.getArmsAutorized %}
                {% if  hero.inventories.equipmentInvetory.objects[arm.id] is defined %}
                    <a class="btn btn-warning arm-fight" data-id="{{ arm.id }}"> {{ arm.name }}</a>
                {% endif  %}
            {%  endfor %}
        </p>
    {% else  %}
        <p>
            <a class="btn btn-warning blank-fight" > Taper</a>
        </p>
    {%  endif %}
