{%  for pageMonster in fight.monsters %}
    <div style="display: inline-block; margin: 10px">

        <p>Nom : {{ pageMonster.monster.name }}</p>
        <p> Vie : {{ pageMonster.monster.life }}</p>
        <p> Force {{ pageMonster.monster.strength }}</p>
        <p> Nombre {{ pageMonster.qte }}</p>


    </div>
{%  endfor %}