{% if fight.fightType.id == 2 %}

<p>
    Objects disponibles :
    {%  for object in fight.objectAutorized %}
        {% if  hero.inventories.objectInvetory.objects[object.id] is defined %}

            <a class="btn btn-warning"> {{ object.name }}</a>
        {% endif  %}
    {%  endfor %}
</p>
{% endif %}