[id='content_statistique']
{
  width: 375px;
  height: 60px;
  margin-top: $margin_top_section;
  // padding-top: 20px;
}
.content_statistique_main_bar
{
  height: 60px;
  position: relative;
  // background-color: #cbb7e2;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  span{
    font-size: 1.5em;
    font-weight: bold;
  }
  .number_stats{
    text-align: center;
    left: 25px;
    z-index: 100;
    position: absolute;
  }
  .logo_statistique{
    z-index: 10;
    position: absolute;
    top: 10px;
  }
}
.col{
  // padding-top: 0px!important;
}
.logo_statistique{
  width: 45px;
  margin: 0 auto;
  img{
    opacity: 0.3;
    // display: block;
  }
}
.content_statistique_main_bar_c
{
  padding: 0px;
}

.hexsagon
{
  position: relative;
  img
  {
    position: absolute;
      top: -10px;
      left: 0;
  }
}
