[id='content_super_hexagon']
{
  position: relative;
  width: 500px;
  height: 480px;
  margin-top: $margin_top_section;
  // border: 1px solid black;
  // padding-top: 20px;

  a.choice-action {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    z-index: 999999;
  }

  .contentRandNumber{
    font-size: 6em;
    text-align: center;
  }
  .choice_block{
    position: relative;
    &:hover{

    }
    img{
      opacity: 0.3;
    }
    .contentText{
      width: 148px;
      position: absolute;
      top: 35px;
      padding: 0 20px;
      text-align: center;
    }
    .contentNumber{
      font-size: 3.5em;
      width: 148px;
      position: absolute;
      top: 40px;
      padding: 0 20px;
      text-align: center;
    }

    .contentImgSvg{
      position: absolute;
      left: 40px;
      top: 35px;
    }
    &:not(.disabled):hover {
      // font-family: sans-serif;
      // transform: translateX(0) scale(1.1)!important;
      // transition: 1s!important;
      // delay:0!important;
      // transition-timing-function: cubic-bezier(0)!important;
      svg {
        path{
          fill: #429dcb!important;
        }
      }
    }
  }
  .disabled{
    img,p{
      display: none;
    }
    path {
      fill: #dedede;
      &:hover {

      }
    }

  }

  .row{
    position: absolute;
  }
  .row:nth-of-type(1){
      top: 0;
      margin-left: 72px;
      margin-right: 58px;
  }

  .row:nth-of-type(2){
    top: 150px;
    .col:nth-of-type(2){
      width: 178px!important;
    }
    svg{
      display: block;
      margin: 0 auto;
    }
  }

  .row:nth-of-type(3){
    top: 300px;
    margin-left: 72px;
    margin-right: 58px;
  }
  .contentImgSvg{
    z-index: 100;
    height: 100px;
    width: 100px;
  }
} //END ID content_super_hexagon
