[id='content_text']
{
  width: 100%;
  //height: 120px;
  //max-width: 780px;
  border: 1px solid black;
  margin-top: $margin_top_section;
  margin: $center;
  text-align: center;
  padding: 20px;
}
.carousel-control-next{
  right: -30px!important;
  height: 100px!important;
}
.carousel-control-prev{
  left: -30px!important;
  height: 100px!important;
}
.Hide
{
  display:none;
}


// .content_statistique_main_bar{
//   height: 60px;
//   background-color: #cbb7e2;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   text-align: center;
//   span{
//     font-size: 1.5em;
//   }
// }
// .content_statistique_main_bar_c{
//   padding: 0px;
// }
