
<!DOCTYPE html>
<!--[if IE 9]> <html lang="fr" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="fr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Dashboard
    </title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    {% stylesheets
        filter="cssrewrite" output="css/admin.css"
        'bundles/admin/vendor/bootstrap/css/bootstrap.min.css'
        'bundles/admin/vendor/linearicons/style.css'
        'bundles/admin/css/main.css'
        'bundles/admin/css/select2.min.css'

    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>

<body>
<div id="wrapper">

    <!-- header top section start-->
    <header>
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
                <a href="{{ path('admin_homepage') }}">
                    <img src="{{ asset('bundles/app/images/logo.svg') }}" height="50px" width="50px" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Le site dont vous êtes le hero</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="lnr lnr-exit"></i> <span>Déconnexion</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul class="nav">
                        <li><a href="{{ path('history_index') }}" class="{{  ('history_index' in app.request.get('_route')) ? "active" : "" }}"><i class="lnr lnr-file-empty"></i> <span>Vos histoires</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
    </header>
    <!-- MAIN -->
    <div class="main">
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <div class="container-fluid">
                {%  block content %}

                {%  endblock %}
            </div>
        </div>
    </div>
</div>
<footer>
    {% javascripts
        '@AdminBundle/Resources/public/vendor/jquery/jquery.min.js'
        '@AdminBundle/Resources/public/vendor/bootstrap/js/bootstrap.min.js'
        '@AdminBundle/Resources/public/vendor/jquery-slimscroll/jquery.slimscroll.min.js'
        '@AdminBundle/Resources/public/scripts/klorofil-common.js'
        'bundles/admin/scripts/select2.min.js'
        'bundles/admin/scripts/main.js'


    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascrips_add %}
    {% endblock %}
</footer>
</body>
<!-- Body End -->
</html>