body {
  background-image: url(https://unsplash.it/1920/1080/?random);
  background-size: cover;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
#login {
  -moz-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 26px 6px rgba(0, 0, 0, 0.4);
  display: inline-block;
  background-color: #fff;
  margin: 0 auto;
  vertical-align: middle;
  margin-top: calc(100% / 9);
  padding-bottom: 30px;
}
label{
  font-size: 20px;
}
body #login .title {
  color: #fff;
}

.title
{
  padding: 20px;
  background-color: #333;
  margin-bottom: 30px;
}
.btn-login
{
  color :#fff;
  background-color :#333;
}.btn-login:hover
{
  color :#fff;
}