{#<!-- Modal -->#}
{#<div id="notification-modal" class="modal fade" role="dialog">#}
    {#<div class="modal-dialog">#}



    {#</div>#}
{#</div>#}

<!-- Modal -->
<div class="modal fade" id="notification-modal"  >
    <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    {#<button type="button" class="close" data-dismiss="modal">&times;</button>#}
                </div>
                <div class="modal-body notification">
                </div>
                <div class="modal-footer modals-buttons">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>
    </div>
</div>