{%  extends 'AppBundle:Default:layout.html.twig' %}
{% block javascriptsaddons %}
    <script type="text/javascript" src="{{ asset('bundles/action/javascripts/includes/fight.js') }}"></script>
{% endblock  %}

{% block content %}
        {{ render(controller(page.controller, { 'page': page })) }}

    <div id="hero-inventories">
        {{ render(controller(
            'AppBundle:Default:showInventory',
            { 'inventory': hero.inventories }
        )) }}
    </div>
{%  endblock %}