{#<div id="content">#}

    {#{% for choice in page.choices %}#}
        {#<a data-hash="{{ choice.hash }}" class="btn btn-warning choice-action">{{ choice.name }}</a>#}
    {#{% endfor %}#}

<div id="content_text" class="mx-auto">

    {{ page.description }}
</div>

<div id="content">

    <div id="content_super_hexagon" class="mx-auto">

        <div class="row">
            {% if  page.choices.get(0)  is not empty %}
                <div class="col choice_block scroll_right">
                    <a href="#"  data-hash="{{ page.choices.get(0).hash }}"  class="choice-action"></a>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText">{{ page.choices.get(0).name }}</p>
                    <p class="contentNumber"></p>
                </div>
            {% else %}
                <div class="col choice_block scroll_right disabled">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText"></p>
                    <p class="contentNumber"></p>
                </div>
            {% endif %}
            {% if  page.choices.get(1)  is not empty  %}
                <div class="col choice_block scroll_right">
                    <a href="#"  data-hash="{{ page.choices.get(1).hash }}"  class="choice-action"></a>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText">{{ page.choices.get(1).name }}</p>
                    <p class="contentNumber"></p>
                </div>
            {% else %}
                <div class="col choice_block scroll_right disabled">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText"></p>
                    <p class="contentNumber"></p>
                </div>
            {% endif %}
        </div>


        <div class="row">
            {% if  page.choices.get(2)  is not empty  %}
                <div class="col choice_block scroll_right">
                    <a href="#"  data-hash="{{ page.choices.get(2).hash }}"  class="choice-action"></a>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText">{{ page.choices.get(2).name }}</p>
                    <p class="contentNumber"></p>
                </div>
            {% else %}
                <div class="col choice_block scroll_right disabled">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText"></p>
                    <p class="contentNumber"></p>
                </div>
            {% endif %}
            <div class="col"></div>
            {% if  page.choices.get(3)  is not empty %}
                <div class="col choice_block scroll_right">
                    <a href="#"  data-hash="{{ page.choices.get(3).hash }}"  class="choice-action"></a>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText">{{ page.choices.get(3).name }}</p>
                    <p class="contentNumber"></p>
                </div>
            {% else %}
                <div class="col choice_block scroll_right disabled">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText"></p>
                    <p class="contentNumber"></p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if  page.choices.get(4)  is not empty  %}
                <div class="col choice_block scroll_right">
                    <a href="#"  data-hash="{{ page.choices.get(4).hash }}"  class="choice-action"></a>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText">{{ page.choices.get(4).name }}</p>
                    <p class="contentNumber"></p>
                </div>
            {% else %}
                <div class="col choice_block scroll_right disabled">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText"></p>
                    <p class="contentNumber"></p>
                </div>
            {% endif %}
            {% if  page.choices.get(5) is not empty %}
                <div class="col choice_block scroll_right">
                    <a href="#"  data-hash="{{ page.choices.get(5).hash }}"  class="choice-action"></a>

                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText">{{ page.choices.get(5).name }}</p>
                    <p class="contentNumber"></p>
                </div>
            {% else %}
                <div class="col choice_block scroll_right disabled">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="148" height="170" viewbox="0 0 147.22431864335456 170"><path fill="#fff" d="M73.61215932167728 0L147.22431864335456 42.5L147.22431864335456 127.5L73.61215932167728 170L0 127.5L0 42.5Z"></path></svg>
                    {#<img src="{{ asset('bundles/app/images/box.svg') }}" class="contentImgSvg" alt="logoSVG">#}
                    <p class="contentText"></p>
                    <p class="contentNumber"></p>
                </div>
            {% endif %}
        </div>
    </div>
</div>