<div id="content" class="content-fight">
    <hr>

    <p>Type de combat {{ fight.fightType }}</p>
    <hr>


    <div class="monster-refresh">
        {% include 'PageBundle:FightInclude:monster.html.twig' %}
    </div>
    <hr>
    <div class="arm-refresh">
        {%  include 'PageBundle:FightInclude:arms.html.twig'  %}
    </div>
    <hr>
    <div class="object-refresh">
        {%  include 'PageBundle:FightInclude:object.html.twig'  %}

    </div>

</div>