{%  extends 'AppBundle:Default:layout.html.twig' %}
{% block content %}
    <section class="card-intro">
        <div class="container">
            <div class="row">
                <div class="mx-auto">
                    <a>Voici vos stats : </a>
                    <a href="{{ path('app_inventory') }}" class="btn btn-success">Nouvelle partie</a>
                    <a  class="btn btn-success">Charger partie</a>
                </div>
            </div>
        </div>
    </section>
{%  endblock %}