{%  extends 'AppBundle:Default:layout.html.twig' %}


{% block javascriptsaddons %}
    <script type="text/javascript" src="{{ asset('bundles/app/javascripts/includes/inventories.js') }}"></script>
{% endblock  %}


{% block content %}
    <section id="inventory">
        <div class="container text-center">

            <div class="row">
                <h1 class="">Equipement :</h1>
                <div class="inventory-equiped" style="margin-left: 200px">
                    {%  include 'AppBundle:Include:inventory-card.html.twig' %}
                </div>
            </div>

            <div class="row">
                <h2 class="show-money  text-center"> Points : {{ hero.money }}</h2>

            </div>
            <div class="row">
                <div class="choices">
                    {% for arm in arms %}
                        <a data-id="{{  arm.id }}"  data-type="arm" class="btn btn-warning choice">{{ arm.name }} (prix : {{ arm.price }})</a>
                    {% endfor %}
                    <a data-id="{{  antimatiere.id }}" data-type="object"  class="btn btn-warning choice">{{  antimatiere.name }} (prix : {{ antimatiere.price }})</a>
                    {#<a data-type="armor"    class="btn btn-warning choice" title="vous pouvez pas venir en arrier">Armure  prix (2 pour 1 points)</a>#}
                    <div class="dropdown" style="display: inline-block">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Armure  prix (2 pour 1 points)
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a  data-type="armor" class="dropdown-item choice" href="#">+</a>
                            <a data-type="armor" data-value="delete" class="dropdown-item choice" href="#">-</a>
                        </div>
                    </div>
                </div>
                <div class="container" style="margin-top: 30px">
                    <a  class="btn btn-success" href=" {{ path('page_homepage', {slug : 'page-1'}) }} ">Commencer l'histoire</a>
                </div>
            </div>
        </div>
    </section>
{%  endblock %}