<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0" />
    <meta name="description" content="Réal Energy est un cabinet d’étude, composé de  consultants spécialisés dans le domaine de l’énergie et plus particulièrement en gaz et électricité.">
    <meta name="author" content="Réal Energy">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {#<link rel="stylesheet" type="text/css"  href="{{ asset('bundles/app/libs/Bootstrap/css/bootstrap.min.css') }}">#}
    <title>Hero</title>

    {% stylesheets filter="cssrewrite, scssphp" output="css/app.css"
        "bundles/app/styles/mains.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body class="container">
<header>

    <div id="hero-card">
        {% include 'AppBundle:Include:card.html.twig' %}
    </div>


</header>

<section class="content">
    {% block content %}
    {%  endblock %}
</section>

<footer>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


    {#'bundles/app/javascripts/roll.js'#}
    {#'bundles/app/javascripts/interface.js'#}
    {% block javascripts %}
            {% javascripts
                '@AppBundle/Resources/public/libs/Jquery/jquery-3.3.1.min.js'
                '@AppBundle/Resources/public/javascripts/function.js'
                'bundles/action/javascripts/includes/pils.js'
                'bundles/action/javascripts/main.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            {% block javascriptsaddons %}

            {% endblock %}

    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    {{  include('AppBundle:Modals:notification.html.twig') }}
</footer>

</body>