{% extends 'AdminBundle:Default:layout.html.twig' %}

{% block javascrips_add %}

{%  endblock %}
{% block content %}
    <h1 class="page-title" >Page choix modification</h1>
    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-body">
                    {{ form_start(form, {attr: {class: "form-group"}}) }}
                    <div class="form-group">
                        <label>
                            Titre
                        </label>
                        {{ form_widget(form.name, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>
                            Page vers

                        </label>
                        {{ form_widget(form.link, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>
                            Texte
                        </label>
                        {{ form_widget(form.text, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>
                            Type de page
                        </label>
                        {{ form_widget(form.choiceType, {attr: {class: "form-control type-page"}}) }}

                    </div>
                    <div class="type-choices">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  object-add">
                                    <label>
                                        Object to add
                                    </label>
                                    {{ form_widget(form.objectAdd, {attr: {class: "form-control select2" }}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group object-required object-required">
                                    <label>
                                        Object to Required
                                    </label>
                                    {{ form_widget(form.objectRequired, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group  arm-add">
                                    <label>
                                        Arm to Add
                                    </label>
                                    {{ form_widget(form.armAdd, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group  arm-required">
                                    <label>
                                        Arm to Required
                                    </label>
                                    {{ form_widget(form.armRequired, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group  pills-add">
                                    <label>
                                        Pills to add
                                    </label>
                                    {{ form_widget(form.pillsAdd, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                {#<div class="form-group  pills-add">#}
                                {#<label>#}
                                {#Choix Carateristiques#}
                                {#</label>#}
                                {#<div class="col-lg-6">#}
                                {#{{ form_widget(form.characteristic, {attr: {class: "form-control "}}) }}#}

                                {#</div>#}
                                {#<div class="col-lg-6">#}
                                {#{{ form_widget(form.characteristicMax, {attr: {class: "form-control "}}) }}#}

                                {#</div>#}
                                {#</div>#}
                            </div>
                            {#<div class="col-md-6">#}

                            {#<div class="form-group  pills-add">#}
                            {#<label>#}
                            {#Jet de chance#}
                            {#</label>#}
                            {#<div class="col-lg-6">#}
                            {#{{ form_widget(form.chanceMax, {attr: {class: "form-control "}}) }}#}

                            {#</div>#}
                            {#</div>#}
                            {#</div>#}
                        </div>
                    </div>

                    {#<div class="form-group">#}
                    {#<label>#}
                    {#Quantité#}
                    {#</label>#}
                    {#{{ form_widget(form.quantity, {attr: {class: "form-control"}}) }}#}

                    {#</div>#}
                    <div class="row">
                        {%  set ok = choice.chanceOk() %}
                        <div class="col-lg-4">
                            <p> chance Ok</p>

                        <select name="to[page]" class="form-control">
                            {#page#}
                            <option></option>
                            {% for page in pages %}
                             <option value="{{ path('page_homepage',{slug : page.slug}) }}" {{  ( ok['page']  is defined and ok['page'] ==  path('page_homepage',{slug : page.slug})  ? 'selected' : '' ) }}>{{  page.title }}</option>
                            {%  endfor %}
                        </select>
                        </div>
                        <div class="col-lg-4">

                        <input type="number" class="form-control" name="to[number]" value="{{ ( ok['number']  is defined )  ? ok['number'] : ''}}">
                        </div>
                            {#+ or moins#}
                        <div class="col-lg-4">

                        <select name="to[object]" class="form-control">
                            <option></option>

                            {% for arm in arms %}
                                <option value="arm-{{ arm.id }}" {{ ( ok['object']  is defined and  ok['object'] == 'arm-'~arm.id ) ? 'selected' : '' }}>{{  arm.name }}</option>
                            {%  endfor %}

                            {% for object in objects %}
                                <option value="object-{{ object.id }}" {{ ( ok['object']  is defined and  ok['object'] == 'object-'~object.id) ? 'selected' : '' }} >{{  object.name }}</option>
                            {%  endfor %}

                            {% for pil in pils %}
                                <option value="pil-{{ pil.id }}" {{ ( ok['object']  is defined and  ok['object'] == 'pil-'~pil.id) ? 'selected' : '' }} >{{  pil.name }}</option>
                            {%  endfor %}

                            <option value="life" {{ ( ok['object']  is defined and  ok['object'] == 'life') ? 'selected' : '' }}  >Vie</option>
                            <option value="strengh"  {{ ( ok['object']  is defined and  ok['object'] == 'strengh') ? 'selected' : '' }}>Force</option>
                            <option value="armor"  {{ ( ok['object']  is defined and  ok['object'] == 'armor') ? 'selected' : '' }}>Armure</option>
                            <option value="chance"  {{ ( ok['object']  is defined and  ok['object'] == 'chance') ? 'selected' : '' }}>Chance</option>

                        </select>
                        </div>
                        {%  set no = choice.chanceNone() %}
                                <div class="col-lg-4">
                                    <p> Chance No</p>

                        <select name="no[page]" class="form-control">
                            {#page#}
                            <option></option>
                            {% for page in pages %}
                                <option value="{{ path('page_homepage',{slug : page.slug}) }}"  {{  ( no['page']  is defined and  no['page'] ==  path('page_homepage',{slug : page.slug}))  ? 'selected': '' }}>{{  page.title }}</option>
                            {%  endfor %}
                        </select>
                                </div>
                                <div class="col-lg-4">

                                <input type="number"  class="form-control" name="no[number]" value="{{ (no['number']  is defined ) ?  no['number'] : ''}}"> + pour enlever et - pour rajouter
                        {#+ or moins#}
                                </div>
                                <div class="col-lg-4">
                        <select name="no[object]" class="form-control">
                            <option></option>

                            {% for arm in arms %}
                                <option value="arm-{{ arm.id }}" {{ (no['object']  is defined and   no['object'] == 'arm-'~arm.id) ? 'selected' : '' }}>{{  arm.name }}</option>
                            {%  endfor %}

                            {% for object in objects %}
                                <option value="object-{{ object.id }}" {{ (no['object']  is defined and   no['object'] == 'object-'~object.id) ? 'selected' : '' }}>{{  object.name }}</option>
                            {%  endfor %}

                            {% for pil in pils %}
                                <option value="pil-{{ pil.id }}" {{ (no['object']  is defined and   no['object'] == 'pil-'~pil.id) ? 'selected' : '' }}>{{  pil.name }}</option>
                            {%  endfor %}

                            <option value="life" {{ ( ok['object']  is defined and  ok['object'] == 'life') ? 'selected' : '' }}  >Vie</option>
                            <option value="strengh"  {{ ( ok['object']  is defined and  ok['object'] == 'strengh') ? 'selected' : '' }}>Force</option>
                            <option value="armor"  {{ ( ok['object']  is defined and  ok['object'] == 'armor') ? 'selected' : '' }}>Armure</option>
                            <option value="chance"  {{ ( ok['object']  is defined and  ok['object'] == 'chance') ? 'selected' : '' }}>Chance</option>
                        </select>
                                </div>
                    </div>

                    <div>
                        <a  class="btn btn-lg btn-warning" href="{{ path('admin_page_choice',{ slug : choice.page.history.slug, id_page : choice.page.id}) }}">Annuler</a>
                        <input class="btn btn-lg btn-success" type="submit" value="Modifier" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
