{% extends 'AdminBundle:Default:layout.html.twig' %}

{% block javascrips_add %}
{%  endblock %}
{% block content %}
    <h3 class="page-title" ><span class="fa fa-pencil"></span>
        Modification des choix pour la page {{ page.title }}

        <a  class="btn btn-lg btn-warning pull-right" href="{{ path('history_show', {id : history.id}) }}" >Retour</a>

    </h3>
    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-heading">

                </div>
                <div class="panel-body">

                    {{ form_start(form, {attr: {class: "form-group"}}) }}
                    <div class="form-group">
                        <label>
                            Titre
                        </label>
                        {{ form_widget(form.name, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>
                            Page vers
                        </label>
                        {{ form_widget(form.link, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>
                            Texte
                        </label>
                        {{ form_widget(form.text, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>
                            Type de page
                        </label>
                        {{ form_widget(form.choiceType, {attr: {class: "form-control type-page"}}) }}

                    </div>
                    <div class="type-choices">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group  object-add">
                                    <label>
                                        Object to add
                                    </label>
                                    {{ form_widget(form.objectAdd, {attr: {class: "form-control select2" }}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group object-required object-required">
                                    <label>
                                        Object to Required
                                    </label>
                                    {{ form_widget(form.objectRequired, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group  arm-add">
                                    <label>
                                        Arm to Add
                                    </label>
                                    {{ form_widget(form.armAdd, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group  arm-required">
                                    <label>
                                        Arm to Required
                                    </label>
                                    {{ form_widget(form.armRequired, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                                <div class="form-group  pills-add">
                                    <label>
                                        Pills to add
                                    </label>
                                    {{ form_widget(form.pillsAdd, {attr: {class: "form-control select2"}}) }}

                                </div>
                            </div>
                            <div class="col-md-6">

                            <div class="form-group  pills-add">
                                    <label>
                                        Nombre (jet de chance, Armure, Pilule Ajout)
                                    </label>
                                    {{ form_widget(form.quantity, {attr: {class: "form-control "}}) }}

                            </div>
                            </div>
                            {#<div class="col-md-6">#}

                                {#<div class="form-group  pills-add">#}
                                    {#<label>#}
                                        {#Jet de chance#}
                                    {#</label>#}
                                        {#<div class="col-lg-6">#}
                                            {#{{ form_widget(form.chanceMax, {attr: {class: "form-control "}}) }}#}

                                        {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        </div>
                    </div>

                    <div class="row">

                        <p> chance Ok</p>
                        <div class="col-lg-4">
                        <select name="to[page]" class="form-control">
                            {#page#}
                            <option></option>
                            {% for page in pages %}
                                <option value="{{ path('page_homepage',{slug : page.slug}) }}">{{  page.title }}</option>
                            {%  endfor %}
                        </select>
                        </div>
                        <div class="col-lg-4">

                        <input type="number" name="to[number]" class="form-control">
                        </div>

                        <div class="col-lg-4">

                        <select name="to[object]" class="form-control">
                            <option></option>

                            {% for arm in arms %}
                                <option value="arm-{{ arm.id }}">{{  arm.name }}</option>
                            {%  endfor %}

                            {% for object in objects %}
                                <option value="object-{{ object.id }}">{{  object.name }}</option>
                            {%  endfor %}

                            {% for pil in pils %}
                                <option value="pil-{{ pil.id }}">{{  pil.name }}</option>
                            {%  endfor %}
                        </select>
                        </div>
                        <p> Chance No</p>
                        <div class="col-lg-4">

                        <select name="no[page]" class="form-control">
                            {#page#}
                            <option></option>
                            {% for page in pages %}
                                <option value="{{ path('page_homepage',{slug : page.slug}) }}">{{  page.title }}</option>
                            {%  endfor %}
                        </select>
                        </div>
                        <div class="col-lg-4">

                        <input type="number" name="no[number]" class="form-control"> + pour enlever et - pour rajouter
                        {#+ or moins#}
                        </div>
                        <div class="col-lg-4">

                        <select name="no[object]" class="form-control" >
                            <option></option>

                            {% for arm in arms %}
                                <option value="arm-{{ arm.id }}">{{  arm.name }}</option>
                            {%  endfor %}

                            {% for object in objects %}
                                <option value="object-{{ object.id }}">{{  object.name }}</option>
                            {%  endfor %}

                            {% for pil in pils %}
                                <option value="pil-{{ pil.id }}">{{  pil.name }}</option>
                            {%  endfor %}

                            <option value="life"  class="form-control">Vie</option>
                            <option value="strengh" class="form-control" >Force</option>
                            <option value="armor"  class="form-control">Armure</option>
                            <option value="chance"  class="form-control" >Chance</option>

                        </select>
                        </div>
                    </div>


                    {#<div class="form-group">#}
                        {#<label>#}
                            {#Quantité#}
                        {#</label>#}
                        {#{{ form_widget(form.quantity, {attr: {class: "form-control"}}) }}#}

                    {#</div>#}
                    <div>
                        <a  class="btn btn-lg btn-warning" href="{{ path('history_show', {id : history.id}) }}">Annuler</a>
                        <input class="btn btn-lg btn-success" type="submit" value="Créer" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for choice in page.choices %}

                            <div class="col-md-3">
                                <div class="metric">
                                    <a href="{{ path('admin_choice_edit' , {id : choice.id}) }}">

                                    <span class="icon"><i class="fa fa-pencil"></i></span>
                                    </a>

                                    <p>
                                        <span class="number">{{ choice.name }}</span>
                                        <a href="{{ path('admin_choice_edit' , {id : choice.id}) }}">
                                            <span class="title">...</span>
                                        </a>
                                    </p>
                                </div>
                            </div>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
