{% extends 'AdminBundle:Default:layout.html.twig' %}

{% block content %}
<h1 class="page-title" >Page création
    <a class="btn btn-success pull-right" href="{{ path('admin_page_new') }}">Ajouter une page</a>

</h1>
<div class="row">
    <div class="col-md-12">
        <!-- BASIC TABLE -->
        <div class="panel">
            <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td>
                            <a  class="btn btn-info" href="{{ path('admin_page_show', { 'id': page.id }) }}" title="Voir la page"><span class="fa fa-eye"></span></a>
                            <a title="Modifier la page" class="btn btn-warning" href="{{ path('admin_page_edit', { 'id': page.id }) }}"><span class="fa fa-pencil"></span></a>
                            {% if not page.fightPage %}
                            <a  title="Choix de la page"  class="btn btn-default" href="{{ path('admin_page_choice', { 'id': page.id }) }}"><span class="lnr lnr-map"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
