{% extends 'AdminBundle:Default:layout.html.twig' %}

{%  block javascrips_add %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('.fight-type').change(function () {

                if($(this).val() == 1 )
                {

                    $('.fight-form').css('display', 'block');
                    $('.select2').select2();
                }
                else
                {
                    $('.fight-form').css('display', 'none');

                }
            })


            $('.select-monster').change(function(){

                var monsters = $('.select-monster .qte-monster').map(function(){
                    return {'monster' : $(this).attr('data-monster') , 'qte' :$(this).val() }
                }).get();

                var string = '';
                $.each(monsters, function(key,value){
                    if(value.qte > 0)
                    {
                        string +=  value.monster+','+value.qte+';'
                    }
                })

                $('.monsters').val(string);
            })
        })
    </script>
{%  endblock  %}
{% block content %}
    <h3 class="page-title" ><span class="lnr lnr-file-add"></span> Nouvelle Page</h3>
    <div class="row">
        <div class="col-md-12">
            <!-- BASIC TABLE -->
            <div class="panel">
                <div class="panel-body">

                    {{ form_start(form, {attr: {class: "form-group"}}) }}
                    <div class="form-group">
                        <label>
                            Titre
                        </label>
                        {{ form_widget(form.title, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="form-group">
                        <label>
                            Description
                        </label>
                        {{ form_widget(form.description, {attr: {class: "form-control"}}) }}

                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Template
                                </label>
                                {{ form_widget(form.template, {attr: {class: "form-control"}}) }}

                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <label>
                                    Type de page Combat
                                </label>
                                {{ form_widget(form.fightPage, {attr: {class: "form-control fight-type"}}) }}

                            </div>
                        </div>

                        <div class="col-lg-4">

                            <div class="form-group">
                                <label>
                                    Redirection fin combat
                                </label>
                                {{ form_widget(form.pageTo, {attr: {class: "form-control "}}) }}

                            </div>
                        </div>
                    </div>
                    <div class="row fight-form " {{  (page.fightPage) ? '' : 'style="display: none"' }}>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>
                                    Type de combat
                                </label>
                                {{ form_widget(form.fightType, {attr: {class: "form-control"}}) }}

                            </div>
                        </div>

                        <div class="col-lg-4">

                            <div class="form-group">
                                <label>
                                    Armes Autorisée
                                </label>
                                {{ form_widget(form.arms_autorized, {attr: {class: "form-control select2"}}) }}

                            </div>
                        </div>
                        <div class="col-lg-4">

                            <div class="form-group">
                                <label>
                                    Object Autorisée
                                </label>
                                {{ form_widget(form.object_autorized, {attr: {class: "form-control select2"}}) }}

                            </div>
                        </div>

                        <div class="col-lg-12">

                            <div class="form-group">
                                <label>
                                    Monstres
                                </label>
                                {{ form_widget(form.monsters_set, {attr: {class: "form-control monsters"}}) }}
                                <ul class="select-monster">
                                    {% for monster in monsters %}
                                        <li >
                                            {{ monster.name }}

                                            <input style="width: 50px;" class="qte-monster" data-monster="{{ monster.id }}" type="number"
                                                   value="{{ (arrayMonster[monster.id] is defined) ? arrayMonster[monster.id]  : ''  }}">
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a  class="btn btn-lg btn-warning" href="{{ path('history_show', {id : history.id}) }}">Annuler</a>
                        <input class="btn btn-lg btn-success" type="submit" value="Créer" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
