$height_bar_stats : 35px;
$width_bar_stats : 60px;

$color_grey_01 : #646464;
$color_grey_02 : #9D9D9D;
$color_grey_03 : #FFFFFF;

$color_LSDVELH_02 : #52C1FF;
$color_LSDVELH_01 : #25a5e5;
$color_LSDVELH_03 : #0083C4;
$color_LSDVELH_04 : #0570a4;

$center : margin 0 auto;
$margin_top_section : 20px;

@import 'composants/statistique_comp.scss';
@import 'composants/text_comp.scss';
@import 'composants/super_hexagon_comp.scss';
@import 'composants/content_inventory.scss';
@import 'composants/content_buttom_next_action.scss';
@import 'composants/content_page_text.scss';

//@import "interface.scss";

ul.characteristic
{
  margin: 0 auto;
}

body
{
  background-color: #f1f1f1;
}

.card-intro
{
  margin-top: 70px;
}

#inventory
{

  h1
  {
    display: inline-block;
  }
  margin-top: 200px;
  overflow: auto;
}
